<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Welcome</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-accordion-group [multiple]="true" expand="inset">
    <ion-accordion value="first">
      <ion-item slot="header" >
        <ion-label>D-Card Kart Nedir? Ne İşe Yarar?</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        D-Card, yeni tanıştığınız insanlarla paylaşmak istediğiniz kişisel bilgilerinizi tek dokunuşla aktaran ve yüz yüze tanıştığınız insanların cihazlarında reklam göstermenizi sağlayan dijital kartvizit teknolojisidir.
      </div>
    </ion-accordion>
    <ion-accordion value="sixth">
      <ion-item slot="header" color="light">
        <ion-label>Logomu/tasarımımı nereye ve nasıl eklerim?</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Logo tasarımınız kartın ön ve arka yüzüne basılabilir, ürünü sepete eklemeden önce kartınızı web sitemiz üzerinden özelleştirebilirsiniz. Logunuzu .jpg, .jpeg, .png formatlarında ekleyebilirsiniz.
      </div>
    </ion-accordion>
    <ion-accordion value="seventh">
      <ion-item slot="header" >
        <ion-label>Bilgilerimi nasıl eklerim?</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Kartı teslim aldıktan sonra telefonunuza ilk kez dokundurduğunuzda açılan panelde, bilgilerinizi düzenleyebileceğiniz ekran karşınıza çıkacaktır. Burada bilgilerinizi kaydettikten sonra kartınız aktifleştirilmiş olur.
      </div>
    </ion-accordion>
    <ion-accordion value="eigth">
      <ion-item slot="header" color="light" >
        <ion-label>Bilgilerimi değiştirebilir miyim?</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Evet bilgilerinizi değiştirebilirsiniz. Mobil uygulamamız üzerinden tüm bilgilerinizi güncelleyebilirsiniz.
      </div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" >
        <ion-label>Bilgilerim güvende mi?</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Bilgileriniz en güncel şifreleme yöntemleriyle korunur ve anonimleştirilerek saklanır.
      </div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <ion-label>Kartım çalınırsa ya da kaybolursa ne yapmalıyım?</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Kartınız çalındığında ya da kaybolduğunda bilgilerinizin güvenliği için bizimle iletişime geçerek kartınızı etkisiz hale getirebilirsiniz.
      </div>
    </ion-accordion>
    <ion-accordion value="forth">
      <ion-item slot="header" >
        <ion-label>Hangi akıllı telefonlarla uyumlu?</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        NFC teknolojisine sahip tüm telefonlarla uyumludur, telefonunuzu kontrol etmek için buraya tıklayabilirsiniz.
      </div>
    </ion-accordion>
    <ion-accordion value="fifth">
      <ion-item slot="header" color="light">
        <ion-label>Kartım çalınırsa ya da kaybolursa ne yapmalıyım?</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Kartınız çalındığında ya da kaybolduğunda bilgilerinizin güvenliği için bizimle iletişime geçerek kartınızı etkisiz hale getirebilirsiniz.
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>