<ion-header>
  <ion-toolbar>
    <ion-title>tab5</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item button (click)="openChangePassword()">
    <ion-label> Şifre Değiştir </ion-label>
    <ion-icon name="arrow-forward-outline" size="large" slot="end"></ion-icon>
  </ion-item>
  <ion-item button (click)="openSSS()">
    <ion-label> Sıkça Sorulan Sorular </ion-label>
    <ion-icon name="arrow-forward-outline" size="large" slot="end"></ion-icon>
  </ion-item>
  <ion-item button (click)="buttonClick()">
    <ion-label> Link Ekleme Rehberi </ion-label>
    <ion-icon name="arrow-forward-outline" size="large" slot="end"></ion-icon>
  </ion-item>
  <ion-button (click)="logout()">Çıkış</ion-button>
</ion-content>
