.resim {
  margin-left: 25%;
  max-width: 180px;
  margin-top: 20px;
  margin-bottom: 20px;
  top: 0px;
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  border-color: #192e59;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}
.resim1 {
  max-width: 180px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 25%;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 100%;
  border-width: 90px;
  border-style: solid;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  opacity: 0.4;
}

.ripple-parent {
  position: relative;
  overflow: hidden;
  animation-duration: 0.5s;
}
