<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-activatable ripple-parent" (click)="selectimageOptions()">
    <div class="row">
      <img class="resim" src="../../assets/imgs/b.png" />
      <img class="resim1" src="../../assets/imgs/resim1.png" />
    </div>
    <ion-ripple-effect type="unbounded"></ion-ripple-effect>
  </div>
  <!-- <ion-row>
    <div *ngIf="url">
      <img [src]="santizeUrl(url)" height="100" width="150" />
    </div>
    <div *ngIf="imageurl">
      <img [src]="santizeUrl(imageurl)" height="100" width="150" />
    </div>
  </ion-row> -->

  <form
    #form="ngForm"
    (ngSubmit)="updateUser()"
    method="post"
    enctype="multipart/form-data"
  >
    <ion-item>
      <ion-label position="stacked">İsim Soyisim</ion-label>
      <ion-input
        [(ngModel)]="this.user.nameSurname"
        type="text"
        name="nameSurname"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Telefon</ion-label>
      <ion-input
        [(ngModel)]="this.user.phone"
        name="phone"
        type="text"
        (keyup.enter)="updateUser(form)"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">GSM</ion-label>
      <ion-input
        [(ngModel)]="this.user.gsm"
        name="gsm"
        type="text"
        (keyup.enter)="updateUser(form)"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Mail</ion-label>
      <ion-input
        [(ngModel)]="this.user.mail"
        name="mail"
        type="text"
        (keyup.enter)="updateUser(form)"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Ülke</ion-label>
      <ion-input
        [(ngModel)]="this.user.country"
        name="country"
        type="text"
        (keyup.enter)="updateUser(form)"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Adres</ion-label>
      <ion-input
        [(ngModel)]="this.user.address"
        name="address"
        type="text"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Şirket</ion-label>
      <ion-input
        [(ngModel)]="this.user.company"
        name="company"
        type="text"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Websitesi</ion-label>
      <ion-input
        [(ngModel)]="this.user.website"
        name="website"
        type="text"
      ></ion-input>
    </ion-item>
    <button type="submit">test</button>
  </form>
</ion-content>
