<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Welcome</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-row>
    <form
      #form="ngForm"
      (ngSubmit)="changePassword()"
      method="post"
      enctype="multipart/form-data"
    >
      <ion-item>
        <ion-label position="stacked">Eski Şifre</ion-label>
        <ion-input [(ngModel)]="oldpass" type="text" name="oldpass"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Yeni Şifre</ion-label>
        <ion-input [(ngModel)]="newpass" type="text" name="newpass"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Yeni Şifre (Tekrar)</ion-label>
        <ion-input
          [(ngModel)]="newpassagain"
          type="text"
          name="newpassagain"
        ></ion-input>
      </ion-item>
      <button type="submit">test</button>
    </form>
  </ion-row>
</ion-content>
