<ion-header>
  <ion-toolbar color="danger">
    <ion-title> Link ve Dosya</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>Link Ekle</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-button
          expand="block"
          fill="clear"
          style="
            height: 30%;
            border-radius: 15%;
            border-width: 5px;
            border-style: dotted;
            border-color: #192e59;
          "
          (click)="openModal()"
          ><img src="../../assets/imgs/linkadd.png" style="max-width: 128px"
        /></ion-button>
      </div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>Link Çıkar</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-button
          expand="block"
          fill="clear"
          style="
            height: 30%;
            border-radius: 15%;
            border-width: 5px;
            border-style: dotted;
            border-color: #192e59;
          "
          (click)="openModal()"
          ><img src="../../assets/imgs/linkup.png" style="max-width: 128px"
        /></ion-button>
      </div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <ion-label>Dosya Ekle</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-item>
          <input type="file" (change)="onFileChange($event)" />
        </ion-item>
        <ion-item>
          <input type="text" [(ngModel)]="dosyaname" />
        </ion-item>
        <ion-button color="primary" expand="full" (click)="submitForm()"
          >Upload</ion-button
        >
      </div>
    </ion-accordion>
  </ion-accordion-group>

  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>

          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-row>
          <ion-col
            size="4"
            *ngFor="let l of links "
            class="{{l.category}}"
            style="text-align: center"
            (click)="presentAlert(l.category,l.class)"
          >
            <img src="../../assets/socicons/{{l.class}}.png" />
          </ion-col>
        </ion-row>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
