<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Deneme </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="rowr">
      <img class="resim" src="https://dcard.bekatos.com/{{this.user.photo}}" />
    </div>
    <div class="row">
      <ion-title style="text-align: center"
        >{{this.user.nameSurname}}</ion-title
      >
      <ion-item>
        <ion-icon name="business-outline" slot="start"></ion-icon>
        <ion-label> {{this.user.company}} </ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        <ion-label>{{this.user.mail}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="call-outline" slot="start"></ion-icon>
        <ion-label>{{this.user.phone}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="location-outline" slot="start"></ion-icon>
        <ion-label>{{this.user.country}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="globe-outline" slot="start"></ion-icon>
        <ion-label>{{this.user.website}}</ion-label>
      </ion-item>
    </div>
    <ion-row>
      <ion-col
        size="4"
        *ngFor="let l of links "
        class="{{l.category}}"
        style="text-align: center"
      >
        <img src="../../assets/socicons/{{l.class}}.png" />
      </ion-col>
    </ion-row>
  </div>
</ion-content>
